<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer class="text-center text-lg-start">
  <div class="text-center p-3">
    <a target="_blank" class="text-dark" href="https://github.com/paneddo">Made by Paneddo</a>
    |
    <a target="_blank" class="text-dark" href="https://ko-fi.com/paneddo"> Ko-Fi</a>
  </div>
</footer>

</html>
